In [24]:
# Initialize Spark Session with PostgreSQL driver
from pyspark.sql import SparkSession
from pyspark.sql.functions import (
    col, to_date, sum as _sum, avg as _avg, count, last, row_number, expr
)
from pyspark.sql.window import Window

In [25]:

spark = SparkSession.builder \
    .appName("PostgreSQL Integration") \
    .config("spark.jars", "/home/jovyan/postgresql-42.7.5.jar") \
    .config("spark.driver.extraClassPath", "/home/jovyan/postgresql-42.7.5.jar") \
    .getOrCreate()

df = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://postgres:5432/nepse") \
    .option("dbtable", "nepse1") \
    .option("user", "admin") \
    .option("password", "admin") \
    .option("driver", "org.postgresql.Driver") \
    .load()

df.show()

+---+----------------+------+-----+------+--------+------+----------+--------------------+----------+-----------+------------+--------------------+
| id|  transaction_no|symbol|buyer|seller|quantity|  rate|    amount|          scraped_at|trade_date|page_number|kafka_offset|        processed_at|
+---+----------------+------+-----+------+--------+------+----------+--------------------+----------+-----------+------------+--------------------+
|585|2025032401016000| NABIL|   51|    57|      10|484.00|  4,840.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|586|2025032401015807| NABIL|   13|    57|      19|484.00|  9,196.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|587|2025032401015652| NABIL|   38|    57|     498|485.00|241,530.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|588|2025032401015651| NABIL|   38|    54|      50|484.90| 24,245.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|589|2025032401015650| NABIL|   38|    58|     100|484.90| 48,490.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|590|2025032401015649| NABIL|   38|    44|      50|484.80| 24,240.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|591|2025032401001931| NABIL|   57|    16|      76|477.50| 36,290.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|592|2025032401001930| NABIL|   40|    16|     284|477.50|135,610.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|593|2025032401002144| NABIL|   19|    16|     209|477.70| 99,839.30|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|594|2025032401002054| NABIL|   13|    16|      16|477.50|  7,640.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|595|2025032401002053| NABIL|   57|    16|      24|477.50| 11,460.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|596|2025032401002052| NABIL|   32|    16|      30|477.60| 14,328.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|597|2025032401002051| NABIL|   13|    16|      30|478.00| 14,340.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|598|2025032401002050| NABIL|   43|    43|      10|479.80|  4,798.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|599|2025032401002249| NABIL|   16|    43|      40|479.80| 19,192.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|600|2025032401002175| NABIL|    7|    33|      10|478.00|  4,780.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|601|2025032401002171| NABIL|   57|    33|      30|478.00| 14,340.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|602|2025032401002156| NABIL|   57|    33|      30|478.00| 14,340.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|603|2025032401002153| NABIL|   45|    33|      20|478.00|  9,560.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|604|2025032401002151| NABIL|   56|    33|      10|478.00|  4,780.00|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
+---+----------------+------+-----+------+--------+------+----------+--------------------+----------+-----------+------------+--------------------+
only showing top 20 rows

In [59]:
nabil_df = df.filter(
    (col("symbol") == "NABIL") 
).withColumn("rate", col("rate").cast("double")) \
 .withColumn("quantity", col("quantity").cast("long")) \
 .withColumn("amount", regexp_replace("amount", ",", "").cast("float"))

In [60]:
nabil_df1 = nabil_df.withColumn("quantity", col("quantity").cast("int")) \
       .withColumn("rate", col("rate").cast("float")) \
 .withColumn("trade_date", to_date(col("trade_date")))
       # .withColumn("amount", col("amount").cast("float")) \

In [61]:
nabil_df1.show()

+---+----------------+------+-----+------+--------+-----+--------+--------------------+----------+-----------+------------+--------------------+
| id|  transaction_no|symbol|buyer|seller|quantity| rate|  amount|          scraped_at|trade_date|page_number|kafka_offset|        processed_at|
+---+----------------+------+-----+------+--------+-----+--------+--------------------+----------+-----------+------------+--------------------+
|585|2025032401016000| NABIL|   51|    57|      10|484.0|  4840.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|586|2025032401015807| NABIL|   13|    57|      19|484.0|  9196.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|587|2025032401015652| NABIL|   38|    57|     498|485.0|241530.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|588|2025032401015651| NABIL|   38|    54|      50|484.9| 24245.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|589|2025032401015650| NABIL|   38|    58|     100|484.9| 48490.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|590|2025032401015649| NABIL|   38|    44|      50|484.8| 24240.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|591|2025032401001931| NABIL|   57|    16|      76|477.5| 36290.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|592|2025032401001930| NABIL|   40|    16|     284|477.5|135610.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|593|2025032401002144| NABIL|   19|    16|     209|477.7| 99839.3|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|594|2025032401002054| NABIL|   13|    16|      16|477.5|  7640.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|595|2025032401002053| NABIL|   57|    16|      24|477.5| 11460.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|596|2025032401002052| NABIL|   32|    16|      30|477.6| 14328.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|597|2025032401002051| NABIL|   13|    16|      30|478.0| 14340.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|598|2025032401002050| NABIL|   43|    43|      10|479.8|  4798.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|599|2025032401002249| NABIL|   16|    43|      40|479.8| 19192.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|600|2025032401002175| NABIL|    7|    33|      10|478.0|  4780.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|601|2025032401002171| NABIL|   57|    33|      30|478.0| 14340.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|602|2025032401002156| NABIL|   57|    33|      30|478.0| 14340.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|603|2025032401002153| NABIL|   45|    33|      20|478.0|  9560.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
|604|2025032401002151| NABIL|   56|    33|      10|478.0|  4780.0|2025-04-06 21:49:...|2025-03-24|          1|        NULL|2025-04-06 16:05:...|
+---+----------------+------+-----+------+--------+-----+--------+--------------------+----------+-----------+------------+--------------------+
only showing top 20 rows

In [62]:
# Window to get last transaction of the day (for closing price)
window_day = Window.partitionBy("trade_date").orderBy(col("processed_at").desc())

# Add row number to identify last row per day
nabil_df2 = nabil_df1.withColumn("row_num", row_number().over(window_day))
# Get closing price (last rate of each day)
nabil_df2 = nabil_df2.filter(col("row_num") == 1) \
    .select("trade_date", col("rate").alias("closing_rate"))

In [63]:
nabil_df2.show()

+----------+------------+
|trade_date|closing_rate|
+----------+------------+
|2025-03-24|       478.0|
|2025-03-25|       480.0|
|2025-03-26|       481.0|
|2025-03-27|       485.0|
|2025-03-30|       491.0|
|2025-04-01|       484.6|
|2025-04-02|       485.0|
|2025-04-03|       489.5|
|2025-04-07|       488.0|
+----------+------------+

In [67]:
nabil_df3 = nabil_df1.groupBy("trade_date").agg(
    _sum("quantity").alias("total_quantity"),
    _sum("amount").alias("total_amount"),
    count("transaction_no").alias("num_transactions")
).join(nabil_df2, on="trade_date", how="inner")

In [68]:
nabil_df3.show()

+----------+--------------+--------------------+----------------+------------+
|trade_date|total_quantity|        total_amount|num_transactions|closing_rate|
+----------+--------------+--------------------+----------------+------------+
|2025-04-07|         42030|2.2422635998046875E7|             432|       488.0|
|2025-03-30|         51866| 2.586842710107422E7|             541|       491.0|
|2025-04-02|         36189|1.7575535215820312E7|             393|       485.0|
|2025-03-27|         34710|1.8513985205078125E7|             422|       485.0|
|2025-04-03|         37941| 2.060228469189453E7|             393|       489.5|
|2025-03-25|         67226|3.7494028221191406E7|             659|       480.0|
|2025-04-01|         34404| 1.815553009716797E7|             418|       484.6|
|2025-03-26|         42411|2.3916849490234375E7|             456|       481.0|
|2025-03-24|         50581| 2.652469679989624E7|             583|       478.0|
+----------+--------------+--------------------+----------------+------------+

In [70]:
# Calculate 3-day and 5-day SMA
sma_window_3 = Window.orderBy("trade_date").rowsBetween(-2, 0)
sma_window_5 = Window.orderBy("trade_date").rowsBetween(-4, 0)

nabil_df4 = nabil_df3.withColumn("SMA_3", _avg("closing_rate").over(sma_window_3)) \
                   .withColumn("SMA_5", _avg("closing_rate").over(sma_window_5))

In [57]:
nabil_df4.show()

+----------+--------------+--------------------+----------------+------------+-----------------+------------------+
|trade_date|total_quantity|        total_amount|num_transactions|closing_rate|            SMA_3|             SMA_5|
+----------+--------------+--------------------+----------------+------------+-----------------+------------------+
|2025-03-24|         50581| 2.652469679989624E7|             583|       478.0|            478.0|             478.0|
|2025-03-25|         67226|3.7494028221191406E7|             659|       480.0|            479.0|             479.0|
|2025-03-26|         42411|2.3916849490234375E7|             456|       481.0|479.6666666666667| 479.6666666666667|
|2025-03-27|         34710|1.8513985205078125E7|             422|       485.0|            482.0|             481.0|
|2025-03-30|         51866| 2.586842710107422E7|             541|       491.0|485.6666666666667|             483.0|
|2025-04-01|         34404| 1.815553009716797E7|             418|       484.6|486.8666687011719|484.32000122070315|
|2025-04-02|         36189|1.7575535215820312E7|             393|       485.0|486.8666687011719|485.32000122070315|
|2025-04-03|         37941| 2.060228469189453E7|             393|       489.5|486.3666687011719|487.02000122070314|
|2025-04-07|         42030|2.2422635998046875E7|             432|       488.0|            487.5| 487.6200012207031|
+----------+--------------+--------------------+----------------+------------+-----------------+------------------+

In [71]:

vwap_df = nabil_df1.groupBy("trade_date").agg(
    (_sum(col("rate") * col("quantity")) / _sum("quantity")).alias("VWAP")
)

# Join VWAP
final_df = daily_df.join(vwap_df, on="trade_date", how="left")

+----------+--------------+------------+----------------+------------+-----------------+------------------+------------------+
|trade_date|total_quantity|total_amount|num_transactions|closing_rate|            SMA_3|             SMA_5|              VWAP|
+----------+--------------+------------+----------------+------------+-----------------+------------------+------------------+
|2025-03-24|       87135.0|      1590.2|             959|       478.0|            478.0|             478.0|482.37365393413205|
|2025-03-25|      121381.0|       763.0|            1112|       480.0|            479.0|             479.0|479.84805238928203|
|2025-03-26|       78925.0|      2108.0|             791|       481.0|479.6666666666667| 479.6666666666667| 480.7343265990103|
|2025-03-27|       65488.0|       769.0|             767|       485.0|            482.0|             481.0| 484.5674220606904|
|2025-03-30|       97919.0|      1086.0|             972|       491.0|485.6666666666667|             483.0| 489.3442163177256|
|2025-04-01|       72053.0|       855.0|             754|       484.6|486.8666687011719|484.32000122070315| 485.4896846824906|
|2025-04-02|       80824.0|      2626.7|             806|       485.0|486.8666687011719|485.32000122070315|485.65959898143257|
|2025-04-03|      115518.0|       770.1|             934|       489.5|486.3666687011719|487.02000122070314| 489.9590079132938|
|2025-04-07|       73436.0|       485.0|             742|       488.0|            487.5| 487.6200012207031|486.02893211043454|
+----------+--------------+------------+----------------+------------+-----------------+------------------+------------------+

In [72]:

window_all = Window.orderBy("trade_date").rowsBetween(Window.unboundedPreceding, 0)

final_df = final_df.withColumn("cumulative_volume", _sum("total_quantity").over(window_all)) \
                   .withColumn("cumulative_amount", _sum("total_amount").over(window_all))

In [73]:

final_df.show()

+----------+--------------+------------+----------------+------------+-----------------+------------------+------------------+-----------------+-----------------+
|trade_date|total_quantity|total_amount|num_transactions|closing_rate|            SMA_3|             SMA_5|              VWAP|cumulative_volume|cumulative_amount|
+----------+--------------+------------+----------------+------------+-----------------+------------------+------------------+-----------------+-----------------+
|2025-03-24|       87135.0|      1590.2|             959|       478.0|            478.0|             478.0|482.37365393413205|          87135.0|           1590.2|
|2025-03-25|      121381.0|       763.0|            1112|       480.0|            479.0|             479.0|479.84805238928203|         208516.0|           2353.2|
|2025-03-26|       78925.0|      2108.0|             791|       481.0|479.6666666666667| 479.6666666666667| 480.7343265990103|         287441.0|           4461.2|
|2025-03-27|       65488.0|       769.0|             767|       485.0|            482.0|             481.0| 484.5674220606904|         352929.0|           5230.2|
|2025-03-30|       97919.0|      1086.0|             972|       491.0|485.6666666666667|             483.0| 489.3442163177256|         450848.0|           6316.2|
|2025-04-01|       72053.0|       855.0|             754|       484.6|486.8666687011719|484.32000122070315| 485.4896846824906|         522901.0|           7171.2|
|2025-04-02|       80824.0|      2626.7|             806|       485.0|486.8666687011719|485.32000122070315|485.65959898143257|         603725.0|           9797.9|
|2025-04-03|      115518.0|       770.1|             934|       489.5|486.3666687011719|487.02000122070314| 489.9590079132938|         719243.0|          10568.0|
|2025-04-07|       73436.0|       485.0|             742|       488.0|            487.5| 487.6200012207031|486.02893211043454|         792679.0|          11053.0|
+----------+--------------+------------+----------------+------------+-----------------+------------------+------------------+-----------------+-----------------+

In [103]:
# Save result to CSV or Parquet
final_df.orderBy("trade_date").coalesce(1).write.mode("overwrite").csv("./output/nabil_stock_analysis", header=True)